<app-header></app-header>

<div class="globalContainer" #globalVal>
  <div class="container-fluid">
    <div class="tenant-con" #tenantCon>
      <p class="tenant-text">Tenant</p>
      <div class="container-fluid">
        <div class="row">
          <div
            routerLink="/tenants/bedstatus"
            class="col card-sec col-md-3 col-xl-3 col-lg-3 col-sm-12"
          >
            <div class="card">
              <div class="card-body">
                <div class="card-img-sec mb-3">
                  <span
                    ><img
                      class="card-img"
                      src="../../../assets/images/bed_status.png"
                      alt=""
                  /></span>
                  <span
                    ><img
                      class="right-arrow"
                      src="../../../assets/images/right-arow.png"
                      alt=""
                  /></span>
                </div>
                <div class="card-body-text">
                  <h5 class="card-title mb-2">Bed Status</h5>
                  <p
                    class="card-text"
                    placement="right"
                    ngbTooltip="Can I help you check the status of the bed?"
                  >
                    Can I help you ....
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col card-sec col-md-3 col-xl-3 col-lg-3 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-img-sec mb-3">
                  <span
                    ><img
                      class="card-img"
                      src="../../../assets/images/tenant_list.png   "
                      alt=""
                  /></span>
                  <span
                    ><img
                      class="right-arrow"
                      src="../../../assets/images/right-arow.png"
                      alt=""
                  /></span>
                </div>
                <div class="card-body-text">
                  <h5 class="card-title- mb-2">Tenant List</h5>
                  <p
                    class="card-text"
                    placement="right"
                    ngbTooltip="Would you like a list of your tenants?"
                  >
                    Would you like...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col card-sec col-md-3 col-xl-3 col-lg-3 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-img-sec mb-3">
                  <span
                    ><img
                      class="card-img"
                      src="../../../assets/images/Group 12@2x.png"
                      alt=""
                  /></span>
                  <span
                    ><img
                      class="right-arrow"
                      src="../../../assets/images/right-arow.png"
                      alt=""
                  /></span>
                </div>
                <div class="card-body-text">
                  <h5 class="card-title mb-2">Bookings</h5>
                  <p
                    class="card-text"
                    placement="right"
                    ngbTooltip="Are you aware of your reservations? Find now!"
                  >
                    Are you aware...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col card-sec col-md-3 col-xl-3 col-lg-3 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-img-sec mb-3">
                  <span
                    ><img
                      class="card-img"
                      src="../../../assets/images/vacated_list.png"
                      alt=""
                  /></span>
                  <span
                    ><img
                      class="right-arrow"
                      src="../../../assets/images/right-arow.png"
                      alt=""
                  /></span>
                </div>
                <div class="card-body-text">
                  <h5 class="card-title mb-2">Vacated List</h5>
                  <p
                    class="card-text"
                    placement="left"
                    ngbTooltip="List of vacated accommodations! Check it out!"
                  >
                    List of vacated...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col card-sec col-md-3 col-xl-3 col-lg-3 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-img-sec mb-3">
                  <span
                    ><img
                      class="card-img"
                      src="../../../assets/images/payment_details.png"
                      alt=""
                  /></span>
                  <span
                    ><img
                      class="right-arrow"
                      src="../../../assets/images/right-arow.png"
                      alt=""
                  /></span>
                </div>
                <div class="card-body-text">
                  <h5 class="card-title mb-2">Payment Details</h5>
                  <p
                    class="card-text"
                    placement="right"
                    ngbTooltip="Can I help you check the status of the bed?"
                  >
                    Can I help...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col card-sec col-md-3 col-xl-3 col-lg-3 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-img-sec mb-3">
                  <span
                    ><img
                      class="card-img"
                      src="../../../assets/images/company_payments.png"
                      alt=""
                  /></span>
                  <span
                    ><img
                      class="right-arrow"
                      src="../../../assets/images/right-arow.png"
                      alt=""
                  /></span>
                </div>
                <div class="card-body-text">
                  <h5 class="card-title mb-2">Company Payments</h5>
                  <p
                    class="card-text"
                    placement="right"
                    ngbTooltip="Would you like a list of your tenants?"
                  >
                    Would you like...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col card-sec col-md-3 col-xl-3 col-lg-3 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-img-sec mb-3">
                  <span
                    ><img
                      class="card-img"
                      src="../../../assets/images/electricity_readings.png"
                      alt=""
                  /></span>
                  <span
                    ><img
                      class="right-arrow"
                      src="../../../assets/images/right-arow.png"
                      alt=""
                  /></span>
                </div>
                <div class="card-body-text">
                  <h5 class="card-title mb-2">Electricity Readings</h5>
                  <p
                    class="card-text"
                    placement="right"
                    ngbTooltip="Are you aware of your reservations? Find now!"
                  >
                    Are you aware...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col card-sec col-md-3 col-xl-3 col-lg-3 col-sm-12">
            <div class="card card-sec-cards">
              <div class="card-body">
                <div class="card-img-sec mb-3">
                  <span
                    ><img
                      class="card-img"
                      src="../../../assets/images/adjusted_payments.png"
                      alt=""
                  /></span>
                  <span
                    ><img
                      class="right-arrow"
                      src="../../../assets/images/right-arow.png"
                      alt=""
                  /></span>
                </div>
                <div class="card-body-text">
                  <h5 class="card-title mb-2">Adjusted Transactions</h5>
                  <p
                    class="card-text"
                    placement="left"
                    ngbTooltip="List of vacated accommodations! Check it out!"
                  >
                    List of vacated...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
