$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

.body-bg {
  background: linear-gradient(105.75deg, #183153 -1.69%, #ffffff 99.45%);
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.generate-password-div {
  // width: 100vw;
  height: 100vh;
  position: relative;
}
.success-h4 {
  font-weight: bold;
}
.generate-password-div-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: linear-gradient(
    135deg,
    rgba(239, 239, 239, 0.6) 0%,
    rgba(239, 239, 239, 0.1) 100%
  );
  padding: 20px 70px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.back-to-login-btn {
  background-color: #cc3636;
  width: max-content;
  font-weight: bold;
  color: white;
  border: none;
  //   padding: 10px 100px;
}
.back-to-login-btn:active {
  background: #cc3636;
  color: white;
  border: none;
}
.back-to-login-btn:hover {
  background: #dd2525;
}
.back-to-login-btn:focus {
  border: none;
}

p {
  font-size: 14px;
}
h5 {
  font-size: 28px;
}

@media (max-width: 1200px) {
  .generate-password-div-1 {
    width: 60%;
    padding: 10px 30px;
  }
  .success-h4 {
    font-size: 26px;
  }
  .success-p {
    font-size: 20px;
  }
  .back-to-login-btn {
    font-size: 16px;
    padding: 6px 63px;
  }
  .msg-img {
    width: 60px;
  }
}

@media (max-width: 1024px) {
  .generate-password-div-1 {
    width: 62%;
    padding: 10px 30px;
  }
  .msg-img {
    width: 65px;
  }
  .success-h4 {
    font-size: 24px;
  }
  .success-p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .generate-password-div-1 {
    width: 60%;
    padding: 10px 20px;
  }
  .msg-img {
    width: 60px;
  }
  .success-h4 {
    font-size: 18px;
  }
  .back-to-login-btn {
    font-size: 14px;
    padding: 6px 30px;
  }
}
@media (max-width: 480px) {
  .generate-password-div-1 {
    width: 90%;
    padding: 20px 20px;
  }
  .success-h4 {
    font-size: 16px;
  }
  .success-p {
    font-size: 13px;
  }
  .back-to-login-btn {
    font-size: 12px;
  }
  .msg-img {
    width: 50px;
  }
}
@media (min-width: 1200px) {
  .generate-password-div-1 {
    width: 70%;
    padding: 60px 100px;
  }
  .success-h4 {
    font-size: 26px;
  }
  .success-p {
    font-size: 20px;
  }
  .back-to-login-btn {
    font-size: 18px;
    padding: 6px 63px;
  }
}
