<div class="body-bg">
  <div class="container-fluid generate-password-div">
    <!-- <div class="circle"></div> -->
    <div class="generate-password-div-1">
      <img
        class="mb-3 msg-img"
        src="../../../assets/images/message.png"
        alt=""
      />
      <h4 class="success-h4">Successfully generated password</h4>
      <p class="mb-3 success-p">
        <b>{{ generatedMail }} </b>has received a password reset email. Please
        adhere to the instructions in the email to reset your password.
      </p>
      <button routerLink="/" class="back-to-login-btn btn" type="button">
        Back-to-Login
      </button>
    </div>
  </div>
</div>
