<app-header></app-header>
<div class="globalContainer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-md-4 col-lg-4 col-sm-12">
        <p>
          <a class="text-decoration-none text-black" routerLink="/settings">
            settings</a
          >
          > Rooms
        </p>
        <div class="Filter mb-2">
          <div class="filter-div mb-3">
            <img
              src="../../../../assets/images/filter-icon.png"
              class="filter-icon"
              alt=""
            />
            <h6 class="filter-text m-0">Filters</h6>
          </div>

          <div class="hostel mb-2">
            <div class="hostel-search-div d-flex">
              <p class="hostel-title">Hostels</p>
              <div class="input-group search-group mb-2">
                <input
                  type="search"
                  class="form-control shadow-none"
                  name="searchCompany"
                  placeholder="Search for Hostels"
                  #search
                />
                <span class="input-group-text"
                  ><img
                    src="../../../../assets/images/search-icon.png"
                    class="search-icon"
                    placeholder="Search for Hostels"
                    alt=""
                /></span>
              </div>
            </div>
            <section class="hstl-section">
              <div
                class="hostel-list"
                *ngFor="let hostel of hostelsData; let i = index"
              >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [checked]="hostel.selected"
                    (change)="radioChecked(hostel.Hostel_id, i)"
                    [id]="hostel.Hostel_id"
                  />
                  <label class="form-check-label" [for]="hostel.Hostel_id">
                    {{ hostel.HostelName }}
                  </label>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-md-8 col-lg-8 col-sm-12">
        <div class="bed-indicators">
          <h4 class="text-danger fw-bold">
            {{ this.companyName }}
          </h4>
          <div class="indicators">
            <div class="vacant-div">
              <span
                ><img src="../../../../assets/images/green.png" alt=""
              /></span>
              <p>Vacant</p>
            </div>
            <div class="occupied-div">
              <span
                ><img src="../../../../assets/images/red.png" alt=""
              /></span>
              <p>Occupied</p>
            </div>
            <div class="reserved-div">
              <span
                ><img src="../../../../assets/images/black.png" alt=""
              /></span>
              <p>Reserved</p>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-5 col-xl-6 col-sm-12 mt-3 mb-4 main-bed-search-div"
        >
          <div class="input-group bed-search-div">
            <input
              type="search"
              class="form-control shadow-none"
              name="searchCompany"
              placeholder="Search for beds"
              #search
            />
            <span class="input-group-text"
              ><img
                src="../../../../assets/images/search-icon.png"
                class="search-icon"
                alt=""
            /></span>
          </div>
          <button
            class="btn btn-primary"
            (click)="open(content)"
            (click)="editRoom(null, 'add')"
          >
            Create Room
          </button>
        </div>

        <ng-template #content let-modal>
          <div class="modal-body">
            <div class="modalheader mb-3 d-flex">
              <h4 class="modal-title" id="modal-basic-title">
                {{ Rooms.id ? "Edit Room" : "Create Room" }}
              </h4>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modal.dismiss()"
              ></button>
            </div>
            <form class="form" #form="ngForm">
              <ng-select
                [readonly]="Rooms.id"
                class="mb-3"
                #HostelName="ngModel"
                [(ngModel)]="Rooms.HostelName"
                name="HostelName"
                placeholder="Select Hostel"
                (change)="selectedHosted($event)"
              >
                <ng-option
                  *ngFor="let hostel of hostelsData"
                  [value]="hostel.HostelName"
                  >{{ hostel.HostelName }}</ng-option
                >
              </ng-select>
              <ng-select
                placeholder="Room Type"
                class="mb-3"
                name="RoomType"
                #RoomType="ngModel"
                [(ngModel)]="Rooms.RoomType"
                (change)="selectedHostelRoomType($event)"
              >
                <ng-option
                  *ngFor="let hostelRooms of SelectedHostelroomtypes"
                  [value]="hostelRooms.RoomType"
                  >{{ hostelRooms.RoomType }}</ng-option
                >
              </ng-select>
              <div class="input-group">
                <input
                  placeholder="Room No"
                  type="text"
                  class="form-control mb-3"
                  #RoomNumber="ngModel"
                  [(ngModel)]="Rooms.RoomNumber"
                  name="RoomNumber"
                />
              </div>
              <div>
                <div class="input-group mb-3">
                  <span class="input-group-text">PriceWithFood</span>
                  <input
                    name="PriceWithFood"
                    readonly
                    placeholder="PriceWithFood"
                    type="text"
                    class="form-control"
                    #PriceWithFood="ngModel"
                    [(ngModel)]="Rooms.PriceWithFood"
                  />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">PriceWithoutFood</span>
                  <input
                    name="PriceWithoutFood"
                    readonly
                    placeholder="PriceWithoutFood"
                    type="text"
                    class="form-control"
                    #PriceWithoutFood="ngModel"
                    [(ngModel)]="Rooms.PriceWithoutFood"
                  />
                </div>
              </div>
            </form>
          </div>
          <button
            *ngIf="show"
            type="button"
            class="btn btn-danger update-btn mb-3"
            (click)="
              createRoom(
                form,
                modal,
                RoomNumber,
                RoomNumber,
                PriceWithFood,
                PriceWithoutFood,
                HostelName
              )
            "
          >
            {{ Rooms.id ? "Update" : "Save" }}
          </button>
          <button *ngIf="hide" class="btn submit-btn mb-4" type="button">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </ng-template>
        <div class="row">
          <div
            class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3"
            *ngFor="let room of SelectedRooms"
          >
            <div class="card">
              <div class="roomno">
                <div class="room-header">
                  <h5>{{ room.RoomNumber }}</h5>
                  <b
                    ><p class="foodtext">{{ room.RoomType }}</p></b
                  >
                </div>
                <img
                  src="../../../../assets/images/Edit-icon.png"
                  alt=""
                  (click)="open(content)"
                  (click)="editRoom(room, 'edit')"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-6 mb-3">
                    <div class="bed-cols">
                      <button type="button" class="btn bed_1">1</button>
                      <button type="button" class="btn bed_2">2</button>
                      <button type="button" class="btn bed_3">3</button>
                      <button type="button" class="btn bed_4">4</button>
                      <button type="button" class="btn bed_5">5</button>
                      <button type="button" class="btn bed_6">6</button>
                      <button type="button" class="btn bed_7">7</button>
                      <button type="button" class="btn bed_8">8</button>
                      <button type="button" class="btn bed_9">9</button>
                    </div>
                  </div>
                  <div class="col-xl-6 mb-3">
                    <div class="food-div">
                      <p class="foodtext">Beds: {{ room.NumberOfBeds }}</p>

                      <p class="foodtext">
                        Rent With Food :{{ room.PriceWithFood }}
                      </p>
                      <p class="foodtext">
                        Rent Without Food :{{ room.PriceWithoutFood }}
                      </p>
                    </div>
                  </div>
                  <div class="food-footer">
                    <p class="fis-p">Vacant: 3</p>
                    <p class="sec-p">Reserved: 2</p>
                    <p>Occupied: 1</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
